/* 
    Document   : style
    Created on : Nov 29, 2012, 7:42:29 PM
    Author     : 1
    Description:
        Purpose of the stylesheet follows.
*/
* {
  margin: 0;
}
html, body {
	width:100%;
	height:100%;
}
body {
  background-color: #101010;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #f8f2e5;
}
p {
  font-size: 12px;
}
root { 
  display: block;
}
header {
  background-image: url("/img/la_manga_header.png");
  height: 172px;
}
.wrap {
  height:auto !important;
  height:100%;
  min-height:100%;
  width: 1023px;
  margin: 0 auto;
  position:relative;
  background-color: #290c10;
}
.left-sidebar {
  border: solid white 1px;
  width: 200px;
  float: left;
}
.center-content {
  width: 589px;
  float: left;
  margin-left: 6px;
  background-color: #7b3a37;
  padding: 10px;
/*  padding-right: 10px;*/
}
.right-sidebar {
  border: solid white 1px;
  width: 200px;
  float: right;
}
.empty {
  height:40px; /* равняется высоте футера */
}
.footer {
  height: 40px;
  width: 1023px;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #7b3a37;
}
.footer p {
  text-align: center;
  padding-top: 11px;
}
