#navigation-primary {
/*  width: 610px;*/
  margin: 0 auto;
  text-align: center;
}
#navigation-primary ul {
list-style-type:none;
width:auto;
position:relative;
display:inline-block;
height:33px;
font-size:10.7px;
background:url(/sites/all/themes/marinelli/img/backgrounds/primary_links_bg.png) repeat-x top left;
font-family:Verdana,Helvetica,Arial,sans-serif;
border:1px solid #000;
margin:0;
padding:0;
}

#navigation-primary li {
display:block;
float:left;
margin:0;
padding:0;
}

#navigation-primary li a {
float:left;
color:#A79787;
text-decoration:none;
height:24px;
padding:9px 15px 0;
font-weight:normal;
}

#navigation-primary li a:hover,
#navigation-primary .active {
color:#fff;
background:url(/sites/all/themes/marinelli/img/backgrounds/primary_links_bg.png) repeat-x top left;
text-decoration:none;
}

#navigation-primary .active a {
color:#fff;
font-weight:700;
}


#navigation-primary ul{
background-color:#B11718;
}
#navigation-primary li a:hover, #navigation-primary li.active {
background-color:#DE3330;
}
